@charset "UTF-8";

@font-face {
  font-family: 'Monaco';
  src: url('../fonts/monaco.ttf');
}
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html{

}

body{

}

ul{
  list-style-type: none;
}

/* MICRO CSS STYLESHEET */
/* Components:
*  Readible Name     ID/Class  Level micro_name
*  Main Workspace          id    0   micro_workspace
*  Header region           id    1   micro_header
*  Horizontal region       id    1   micro_horizontal
*  Left Bar                id    2   micro_leftBar
*  Vertical Resize         id    2   micro_dragBarVertical
*  Left Bar Content        id    3   micro_leftBarContent
*  Right Bar (root)        id    2   micro_rightBar
*  Right Bar (top)         id    3   micro_rightTop
*  Right Bar (bottom)      id    3   micro_rightBottom
*  Horizontal Resize       id    3   micro_dragBarHorizontal
*  Right Bar (bot Content) id    4   micro_rightBottomContent
*
*  File Tree               class     micro_file_tree
*  File Tree Element       class     micro_file_element
*  File Tree Element Icon  class     micro_file_element_icon
*  File Tree Header        class     micro_file_head
*  File Tree Header Text   class     micro_file_head_text
*  File Tree Children      class     micro_file_children
*  Footer region      id    1   micro_footer

***  OTHER  ***
*  No Select         class noselect
*/

/* Examples
*Applies to all spans under micro_mainHolder
#micro_workspace span{

}

*Applies to all classes under micro_mainHolder
#micro_workspace .className{
}
*/

#micro_workspace{
  width: 100%;
  height: 400px;
  position: relative;
  background-color: #FF0000;
}

#micro_header{
  background-color: #0D0FD0;
  height: 25px;
}

#micro_horizontal{
  width: 100%;
  height: 100%;
}

#micro_leftBar{
  background-color: #21252b;
  width: 25%;
  min-width: 80px;
  height: 100%;
  float: left;
}

#micro_leftBarContent{
  width: auto;
  height: 100%;
  overflow: hidden;
}

#micro_dragBarVertical {
  background-color:black;
  height:100%;
  float: right;
  width: 2px;
  cursor: col-resize;
}

#micro_rightBar{
  width: 75%;
  min-width: 80px;
  height: 100%;
  float: right;
}

#micro_rightTop{
  background-color: #00FF00;
  width: 100%;
  height: 50%;
  min-height: 20px;
}

#micro_dragBarHorizontal {
  background-color:black;
  width:100%;
  height: 2px;
  cursor: row-resize;
}


#micro_rightBottom{
  background-color: #FF00FF;
  width: 100%;
  height: 50%;
  min-height: 20px;
}

#micro_rightBottomContent{
  width: 100%
  height: 100%
}

#micro_footer {
  background-color: #000FFF;
  height: 25px;
}


#scroll_prevent{
  background-color: #FFF;
}

.micro_file_tree{
  padding-left: 5px;
  margin-top: 0px;
  color: #9da5b4;
}

.micro_file_tree ul{
  padding-left: 20px;
}

.micro_file_element{
  margin-top: 10px;
}

.micro_file_head{
  /*background-color: #FF0000;*/
  padding-left: 5px;
  top:1px;
  position: relative;
}

.micro_file_head_text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  color: #9da5b4;
  padding-left: 5px;
}

.micro_file_head.dir::before{
  font-family: 'Octicons';
  content: "\f0a3";
}

.micro_file_children{
  display: inline-grid;
}

/* ******* OTHER ******* */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/* Changes css items based on media actions */
@media (orientation: portrait) {
  #scroll_prevent {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
