@charset "UTF-8";

@font-face {
  font-family: 'Monaco';
  src: url('../fonts/monaco.ttf');
}

html{

}

body{

}

/* MICRO CSS STYLESHEET */
/* Components:
*  Readible Name  ID/Class  Level  micro_name
*  Main Workspace     id    0   micro_workspace
*  Header region      id    1   micro_header
*  Horizontal region  id    1   micro_horizontal
*  Left Bar           id    2   micro_leftBar
*  Right Bar (root)   id    2   micro_rightBar
*  Right Bar (top)    id    3   micro_rightTop
*  Right Bar (bottom) id    3   micro_rightBottom
*  Footer region      id    1   micro_footer

***  OTHER  ***
*  No Select         class noselect
*/

/* Examples
*Applies to all spans under micro_mainHolder
#micro_workspace span{

}

*Applies to all classes under micro_mainHolder
#micro_workspace .className{
}
*/

#micro_workspace{
  width: 100%;
  height: 900px;
  position: relative;
  background-color: #FF0000;
}

#micro_header{
  background-color: #0D0FD0;
  height: 25px;
}

#micro_horizontal{
  width: 100%;
  height: 100%;
}

#micro_leftBar{
  background-color: #FFFF00;
  width: 25%;
  height: 100%;
  float: left;
}

#micro_rightBar{
  width: 75%;
  height: 100%;
  float: right;
}

#micro_rightTop{
  background-color: #00FF00;
  width: 100%;
  height: 50%;
}

#micro_rightBottom{
  background-color: #FF00FF;
  width: 100%;
  height: 50%;
}

#micro_footer {
  background-color: #000FFF;
  height: 25px;
}


#scroll_prevent{
  background-color: #FFF;
}

/* ******* OTHER ******* */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/* Changes css items based on media actions */
@media (orientation: portrait) {
  #scroll_prevent {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
