@charset "UTF-8";

@font-face {
  font-family: 'Monaco';
  src: url('../fonts/monaco.ttf');
}
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

html {
  --micro_bg_dark: #21252b;
  --micro_bg_light: #282c34;
  --micro_accent_dark: #181a1f;
  --micro_highlight_1: #568af2;
  --micro_highlight_2: #5f8e6f;
  --micro_text_dark: rgba(157, 165, 180, 0.6);
  --micro_text_light: #d7dae0;
}

body{

}

ul{
  list-style-type: none;
}

/* MICRO CSS STYLESHEET */
/* Components:
*  Readible Name     ID/Class  Level micro_name
*  Main Workspace          id    0   micro_workspace
*  Header region           id    1   micro_header
*  Horizontal region       id    1   micro_horizontal
*  Left Bar                id    2   micro_leftBar
*  Vertical Resize         id    2   micro_dragBarVertical
*  Left Bar Content        id    3   micro_leftBarContent
*  Right Bar (root)        id    2   micro_rightBar
*  Right Bar (top)         id    3   micro_rightTop
*  Right Bar (bottom)      id    3   micro_rightBottom
*  Horizontal Resize       id    3   micro_dragBarHorizontal
*  Right Bar (bot Content) id    4   micro_rightBottomContent
*
*  File Tree               class     micro_file_tree
*  File Tree Scroll Pane   id        micro_file_scroll_holder
*  File Tree Element       class     micro_file_element
*  File Tree Element Icon  class     micro_file_element_icon
*  File Tree Header        class     micro_file_head
*  File Tree Header Text   class     micro_file_head_text
*  File Tree Children      class     micro_file_children

*  Project Title           id        project_title
*  Footer region      id    1   micro_footer

***  OTHER  ***
*  No Select         class noselect
*/

/* Examples
*Applies to all spans under micro_mainHolder
#micro_workspace span{

}

*Applies to all classes under micro_mainHolder
#micro_workspace .className{
}
*/

/* Content holder - Top level div that holds all of the editors*/
#micro_editorContent{

}
/* Editors - each editor themselves*/
#micro_editorContent div{

  padding: 0px 10px 0px 10px;
  display:none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;

  background-color: var(--micro_bg_light);
  color: var(--micro_text_light);
}

/* Styles unique to the active editor */
#micro_editorContent div.active{
  display:block;
}

#micro_editorTabBarEnd{
    height: 30px;
    background-color: var(--micro_bg_dark);
    float: right;
    display: block;
    width: 100%;
    min-width: 0px;
    overflow: hidden;
    flex-shrink: 2;
    border-left: 1px solid var(--micro_accent_dark);
    box-shadow: inset 0 -1px 0 var(--micro_accent_dark);
}

#micro_editorTabBarEnd.hidden{
    display:none;
}

#micro_editorTabBar li.divider{
  width: 0;
  min-width: 0px;
  border-left: none;
  z-index: 1;
}

#micro_editorTabBar li.divider div{
  position: absolute;
  display: block;
  background-color: var(--micro_highlight_2);
  height: 30px;
  width: 4px;
  transform: translateX(-2px);
}


#micro_editorTabBar li{
    float: left;
    width: 100%;
    min-width: 85px;
    max-width: 255px;
    border-left: 1px solid var(--micro_accent_dark);
    box-shadow: inset 0 -1px 0 var(--micro_accent_dark);
    color: var(--micro_text_dark);
    position:relative;
    background-color: var(--micro_bg_dark);

    height:100%;
}

#micro_editorTabBar li:first-child{
  border-left-color: transparent;
}

/* TODO: The last-child border needs to be somehow reset to the tab that is
         at the end. Otherwise there is no vertical line */
/* #micro_editorTabBar li:last-child{
  border-right: 1px solid var(--micro_accent_dark);
} */


#micro_editorTabBar li .header {
  /* position: relative;
  transform: translate(100%,50%); */
  text-align: center;
  display: block;
  margin: 6px 6px 0px 6px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

#micro_editorTabBar li .header .tab_name{
  text-align: center;
  padding: 4px 8px 0px 8px;
  /* display: block; */

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

#micro_editorTabBar li:hover .tab_close{
  display: block;
}

#micro_editorTabBar li .tab_close{
  display: none;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: inherit;
  border-radius: 3px;
  color: var(--micro_text_light);
  transition: background-color 0.2s, color 0.2s;
}

#micro_editorTabBar li .tab_close:hover{
  background-color: var(--micro_highlight_1);
  color: var(--micro_accent_dark);
}

/* #micro_editorTabBar:hover li .tab_close::before{
  display: inline-block;
} */

#micro_editorTabBar li .tab_close::before{
  font: normal normal normal 16px/1 Octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  speak: none;
  content:"\f081";
  position:absolute;

  left:5px;
  top:2px;
}

#micro_editorTabBar li.active {
  box-shadow: none !important;
  background-color: #282c34;
  color: var(--micro_text_light) !important;
  font-weight: 600;
}

#micro_workspace{
  width: 100%;
  height: 600px;
  position: relative;
  background-color: var(--micro_bg_dark)
}

#micro_header{
  background-color: #0D0FD0;
  height: 25px;
}

#micro_horizontal{
  width: 100%;
  height: 100%;
}

#micro_leftBar{
  background-color: var(--micro_bg_dark);
  width: 22%;
  min-width: 80px;
  height: 100%;
  float: left;
}

#micro_leftBarContent{
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#micro_dragBarVertical {
  background-color:transparent;
  height:100%;
  float: right;
  width: 5px;
  cursor: col-resize;
  border-right: 1px solid var(--micro_accent_dark);
}

#micro_rightBar{
  width: 78%;
  min-width: 80px;
  height: 100%;
  float: right;
}

#micro_rightTop{
  background-color: var(--micro_bg_light);
  width: 100%;
  height: 90%;
  min-height: 20px;
}

#micro_editorTabBar{
  background-color: var(--micro_bg_dark);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 30px;
  overflow: hidden;
  display:flex;
  box-shadow: inset 0 -1px 0 var(--micro_accent_dark);
}

#micro_dragBarHorizontal {
  background-color:transparent;
  width:100%;
  height: 2px;
  cursor: row-resize;
  border-top: 1px solid var(--micro_accent_dark);
}


#micro_rightBottom{
  background-color: var(--micro_accent_dark);
  color: white;
  width: 100%;
  height: 10%;
  min-height: 20px;
}

#micro_rightBottomContent{
  width: 100%
  height: 100%
}

#micro_footer {
  background-color: var(--micro_highlight_1);
  height: 25px;
}


#scroll_prevent{
  background-color: #FFF;
}

.micro_file_tree{
  padding-left: 15px;
  margin-top: 0px;
  color: #9da5b4;
  position: relative;
  margin-bottom: 7px;
}

#micro_file_scroll_holder{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.micro_file_tree ul{
  padding-left: 20px;
}

.micro_file_element{
  margin-top: 0px;
}

.micro_file_head{
  padding-left: 5px;
  top:1px;
  width: 100%;
  height: 26px;
  /*z-index: 1;*/
  color: #9da5b4;
}

.micro_file_head.selected{
  color: #fff;
}

.micro_file_head.selected:before{
  background-color: #3a3f4b;
  position: absolute;
  left: 0;
  right: 0;
  height:26px;
  content: '';
  z-index: 0;
}

.micro_file_head.selected.bright:before{
  background-color: var(--micro_highlight_1);
}

.micro_file_head_title{
  position: relative;
  z-index: 1;
  padding-top: 6px;
}

.micro_file_head_text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  padding-left: 5px;
}

.micro_file_head.dir::before{
  font-family: 'Octicons';
  content: "\f0a3";
}

.micro_file_children{
  display: inline-grid;
  width: 100%;
}

#project_title{
  width: 100%;
  height: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
}

/* ******* OTHER ******* */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* Changes css items based on media actions */
@media (orientation: portrait) {
  #scroll_prevent {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
